[submodule "utils/CANopen"]
	path = utils/CANopen
	url = git@github.com:AMBITECS/CANopen.git
[submodule "utils/libmodbus"]
	path = utils/libmodbus
	url = git@github.com:AMBITECS/libmodbus.git
[submodule "utils/json"]
	path = utils/json
	url = https://github.com/nlohmann/json.git
[submodule "utils/cppzmq"]
	path = utils/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "utils/libzmq"]
	path = utils/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "utils/openssl"]
	path = utils/openssl
	url = https://github.com/openssl/openssl.git
